body {
  background-color: #181314;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

#start {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

#start h1 {
  font-size: 50px;
  height: 110px;
  width: 220px;
  padding: 20px;
  margin: 0px;
}

#start h2 {
  font-weight: 100;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
  width: 100%;
  padding-left: 22px;
}

#start #canvas-loc {
  margin-left: 27vw;
  height: 45%;
}

#start div {
  position: absolute;
  bottom: 4vh;
  left: 0px;
  width: 100%;
  text-align: center;
}

#start div a div {
  display: inline-block;
}

#fst-btn {
  display: none;
}

#trd-btn {
  display: none;
}

#intro {
  display: block;
  height: 550px;
  width: 80vw;
  margin: 0px;
  padding: 47px 10vw;
}

#intro h1 {
  margin-top: 10px;
}

#intro img {
  position: absolute;
  right: 10vw;
  height: 70px;
  border-radius: 100%;
  margin-top: -70px;
}

#intro p {
  margin: 20px 0px;
  font-size: 17px;
}

#intro div {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

#intro div span {
  display: inline-block;
  padding: 3px 5vw 4px 5vw;
}

#intro #top-btn {
  margin-top: 40px;
}

#skills {
  display: block;
  height: 850px;
  width: 80vw;
  margin: 0px;
  padding: 20px 10vw 50px 10vw;
}

#skills h1 {
  margin-bottom: 40px;
}

.dots {
  position: absolute;
  margin-top: -18px;
  opacity: 0.4;
}

#dots1 {
  width: 75%;
}

#dots2 {
  width: 68%;
}

#dots3 {
  width: 68%;
}

#rocket {
  height: 400px;
  display: block;
  position: absolute;
  right: -10px;
  margin-top: -500px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

ul li {
  padding-top: 5px;
  font-size: 17px;
}

ul img {
  display: inline-block;
  padding-right: 7px;
  height: 20px;
  width: 20px;
  margin-bottom: -4px;
}

#projects {
  display: block;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#projects h1 {
  margin-left: 10vw;
  margin-bottom: 0;
}

#projects div {
  margin: 0;
  padding: 0;
}

#projects div p {
  color: #565557;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  margin-top: -40px;
}

#projects div img {
  height: 190px;
  display: block;
  margin: auto;
}

#projects div .path-zone {
  position: relative;
}

#projects div .planet-path {
  margin-bottom: -65px;
}

#projects div .bg-path {
  height: 190px;
  position: absolute;
  z-index: -2;
  left: 50vw;
}

#projects section {
  margin-top: -14px;
  background-color: #3B393C;
}

#projects section img {
  width: 100vw;
  display: block;
  margin: auto;
}

#projects section h2 {
  margin: 12px 10vw;
  font-style: italic;
  font-weight: 400;
}

#projects section p {
  margin: auto 10vw;
  font-size: 16px;
}

#projects section span {
  display: inline-block;
  font-size: 0.9em !important;
  margin: 18px 2vw;
  padding: 3px 2vw 4px 2vw;
}

#projects section .left-but {
  margin-left: 10vw;
}

#portfolio-end {
  display: block;
  width: 100vw;
  height: 150px;
  margin: 0;
  padding: 0;
}

#footer-bg-planet {
  position: absolute;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: -1;
}

#contact {
  height: 530px;
  width: 80vw;
  margin: 45px 0 -15px 0;
  padding: 0 10vw 47px 10vw;
  background-color: white;
}

#contact h1 {
  color: black;
  font-weight: 900;
  margin-top: 10px;
}

#contact p {
  color: black;
  margin-bottom: 30px;
}

form {
  width: 100%;
  margin: 0 auto;
}

form div {
  background-color: #D1D1D1;
  margin: 10px 0;
  padding: 8px 4%;
  display: block;
  width: 92%;
}

form .big-field {
  height: 150px;
}

form input, form textarea {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 70%;
  float: right;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input:focus, form textarea:focus {
  outline: none;
}

form label {
  -webkit-appearance: none;
  color: black;
  font-style: italic;
  font-size: 17px;
}

form span {
  display: block;
  width: 100% !important;
  text-align: center;
  margin: 15px 0;
  padding-right: 0px;
  padding-left: 0px;
}

footer {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
}

footer div {
  width: 100vw;
  height: 60px;
}

footer div img {
  display: inline-block;
  height: 40px;
  margin: 1vw;
}

footer p {
  font-size: 16px;
  color: #565557;
  margin: 10px 0;
}

footer #small-info {
  font-size: 12px;
}

.centered-box {
  width: 100%;
  text-align: center;
}

.centered-box a {
  display: inline-block;
}

span {
  z-index: 1;
  background-color: #7939D9;
  border-radius: 100px;
  padding: 4px 15px;
  color: white;
  border-width: 0px;
  margin: 1vw;
  font-weight: bold;
  font-size: 1.3em;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */